#!/usr/bin/env bash

# needs to be an absolute path
vaultRoot=""

export mqttBroker="localhost"
export mqttBrokerPort="1883"
export mqttUsername="mosquitto"
export mqttPassword=''

# can be uncommented for privacy after initial downloads
# export HF_HUB_OFFLINE=1

command="python kokoro_actor.py $vaultRoot"
echo "$command"
$command
