.obsidian
*.class
tinkerenv.bash
tinkerenv.bash.back
.idea
.bsp/
logs/
target/
project/target/
sbt-dist/bin/sbt-launch.jar
.DS_Store
queued_temp_files
py3.10_venv/
py310_venv
py310venv
py3.11_venv
py311_venv
*.whl
scripts/.rasa/
scripts/models/
**.pyc
sbt-dist/
scripts/wakewordtesting.bash
playground

